<div class="global_content">
  <h1>Proyecto PL</h1>
  <div>
    <h2>Entrada texto</h2>
    <textarea autofocus="" cols = "80" rows = "10" id="entry"></textarea>

    <h2>Salida texto</h2>
    <textarea autofocus="" cols = "80" rows = "30" id="exit"></textarea>
  </div>
</div>
