<div class="global_content">
 <div class="cube">
   <h3>Entrada texto</h3>
   <textarea autofocus="" cols = "80" rows = "10" id="entry"></textarea>
   <div id="bottons">
     <button id="b1" type="button">Ejemplo 1</button>
     <button id="b2" type="button">Ejemplo 2</button>
     <button id="b3" type="button">Ejemplo 3</button>
     <button id="b4" type="button">Ejemplo 4</button>
     <button id="b5" type="button">Ejemplo 5</button>
   </div>
 </div>
 <div class="cube">
   <h3>Salida texto</h3>
   <textarea readonly cols = "80" rows = "30" id="exit"></textarea>
 </div>
</div>
