<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%- title %></title>
    <link href="http://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="./stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
    <script src="javascript/index.js"></script>
  </head>
  <body>
    <h1>Proyecto Procesadores de Lenguaje </h1>
    <h2>Pseudocódigo</h2>
    <div id="menuCab">
      <ul>
        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Principal</a></li>
        <li><a href="https://github.com/ULL-ESIT-GRADOII-PL/proyecto-adrian_adexe"><i class="fa fa-github" aria-hidden="true"></i> Repositorio del proyecto</a></li>
        <li><a href="https://es.wikipedia.org/wiki/Pseudoc%C3%B3digo"><i class="fa fa-wikipedia-w" aria-hidden="true"></i> Definición Pseudocódigo wikipedia</a></li>
        <li><a href="/instructions"><i class="fa fa-book" aria-hidden="true"></i> Instrucciones</a></li>
      </ul>
    <%- body %>
  </body>
</html>
